.header{
    background-color: #242323;
    height: 9rem;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding-left: 1rem;
    justify-content: space-between;
    min-width: 500px;
}
/*navigation bar*/
.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
/*category navigation*/
.categoryNav{
    width: 20%;
}
.title{
    min-width: 15rem;
}
.title img{
    width: 80%;
}
.categoryList{
    width: 15rem;
    position: absolute;
    border:3px solid;
    background-color: #f8f7f8;
    display: none;
    line-height: 2rem;
    z-index:2;
}
.categoryNav:hover .categoryList{
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*main navigation for pages*/
.pagesNav{
    line-height: 9rem;
    font-size: 1.5rem;
    width: 75%;
    color: white;
}
.pagesNav > a{
    text-decoration: none;
    margin-right: 5%;
    color: white;
    font-weight:bold;
}
.categoryNav:hover .title, .pagesNav > a:hover{
    color: #3c41e8;
    font-weight: bold;
}
/*search*/
.search{
    display: none;
}
.search > input{
    width: 90%;
    padding: 8px 10px;
    border: white;
    border-radius: 0.7rem;
}
/*help*/
.help{
    display: none;
    /*width: 20%;*/
    color: white;
}
@media (min-width: 775px) {
    .header{
        padding-left: 3rem;
    }
    .navbar{
        width: 80%;
    }
    .title{
        max-width: 20rem;
    }
    .title img{
        width: 80%;
    }
    .pagesNav{
        margin: auto;
        font-size: 2rem;
    }
    .categoryList{
        margin-left: 0;
        width: 20rem;
    }
    .search{
        display: block;
        width: 20%;
    }

}
@media (min-width: 1000px) {
    .navbar{
        width: 65%;
    }
    .categoryNav{
        width: 35%;
    }
    .pagesNav{
        width: 65%;
    }
    .search{
        width: 15%;
    }
    .help{
        display: block;
        width: 20%;
    }
}
