.header{
    background-color: #242323;
    height: 9rem;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding-left: 1rem;
    justify-content: space-between;
    min-width: 500px;
}
/*navigation bar*/
.navbar{
    display: flex;
    width: 100%;
}
/*category navigation*/
.categoryNav{
    width: 35%;
}
.title{
    font-size: 2.2rem;
    color: white;
}
.title > img{
    width: 1.5em;
}
.categoryList{
    width: 15rem;
    position: absolute;
    background-color: #f8f7f8;
    display: none;
    line-height: 2rem;
    z-index:2;
}
.categoryNav:hover .categoryList{
    display: block;
}
/*main navigation for pages*/
.pagesNav{
    font-size: 1.5rem;
    width: 65%;
    color: white;
}
.pagesNav > a{
    text-decoration: none;
    margin-right: 3%;
    color: white;
}
.categoryNav:hover .title, .pagesNav > a:hover{
    color: #3c41e8;
    font-weight: bold;
}
/*search*/
.search{
    display: none;
}
.search > input{
    width: 90%;
    padding: 8px 10px;
    border: white;
    border-radius: 0.7rem;
}
/*help*/
.help{
    display: none;
    /*width: 20%;*/
    color: white;
}
@media (min-width: 675px) {
    .header{
        padding-left: 3rem;
    }
    .navbar{
        width: 80%;
    }
    .title{
        font-size: 3rem;
    }
    .title > img{
        width: 50%;
    }
    .pagesNav{
        margin-top:20px;
        font-size: 1.8rem;
    }
    .categoryList{
        width: 20rem;
    }
    .search{
        display: block;
        width: 20%;
    }

}
@media (min-width: 950px) {
    .navbar{
        width: 65%;
    }
    .categoryNav{
        width: 45%;
    }
    .pagesNav{
        width: 55%;
    }
    .search{
        width: 15%;
    }
    .help{
        display: block;
        width: 20%;
    }
}
