
.buttonNormal {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    float: right;
    font-size: 2rem;
    background-color: #FAFAFA;
    /* border: #FAFAFA; */
    padding: 6px 18px;
    color: #242323;
    border-radius: 0.7rem;
    cursor: pointer;
}

.buttonSelected{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    float: right;
    font-size: 2rem;
    background-color: #007fff;
    /* border: #242323; */
    padding: 6px 18px;
    color: #FAFAFA;
    border-radius: 0.7rem;
    /* cursor: pointer; */
}

.packageNormal {
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #e0e0e0;
    color: #cccccc;
    font-size: 20px;
    width: 60%;
    height: 8rem;
    /* line-height: 8rem; */
    margin-top: 2rem;
    padding-top: 1rem;
    padding-right: 5rem;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    cursor: pointer;
}


.packageSelected{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    font-weight:bold;
    background: #FAFAFA;
    border: 3px solid #007fff;
    font-size: 20px;
    color:#242323;
    width: 60%;
    height: 8rem;
    /* line-height: 8rem; */
    margin-top: 2rem;
    padding-right: 5rem;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.packageNormal > button:hover {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    float: right;
    font-size: 2rem;
    background-color: #007fff;
    /* border: #242323; */
    padding: 6px 18px;
    color: #FAFAFA;
    border-radius: 0.7rem;
}



/* .packageNormal:hover{
    font-weight:bold;
    background: #FAFAFA;
    border:#242323;
    color:#242323;
}
 */
