
.title{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 64px;
}
.subtitle{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}
.container{
  display:flex;
}


.button {
  margin-top:30px;
  margin-left: 40%;
  margin-right: 40%;
  float: none;
  font-size: 2rem;
  background-color: #242323;
  /* border: #FAFAFA; */
  padding: 6px 18px;
  color: #FAFAFA;
  border-radius: 0.7rem;
}

.form input {
  display: block;
  box-sizing: border-box;
  outline:none;
  width: 90%;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 0.3rem;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.form textarea {
  display: block;
  box-sizing: border-box;
  outline:none;
  width: 90%;
  height: 200px;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 0.3rem;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.form{
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  color: #242323;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #FAFAFA;
  font-size: 16px;
  resize: none;

}

.row {
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.row > img{
  width:100%;
}

.contactInfo{
  margin-top:1em;
  text-align: center;
}
