.viewedContainer{
    background-color: white;
    min-width: 500px;
    padding-top: 2rem;
}
.viewedProductsTitle{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.viewedProducts{
    border: 1px solid #e0e0e0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    padding: 0 2rem;
    text-align: center;
}
.viewedPro{
    font-size: 1.3rem;
}
.viewedPro img{
    width: 50%;
}
.viewedPro button{
    margin-top: 1rem;
    background: #242323;
    padding: 6px 18px;
    color: white;
}
@media (min-width: 650px) {
    .viewedProducts {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 850px) {
    .viewedProducts {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
