.slideshow{
    position: relative;
    margin: 1rem auto;
    min-width: 500px;
}
.slideshow > div{
    margin: 0 auto;
    height: 50rem;
    position: relative;
    overflow: hidden;
}
.slideshow img{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    max-width: 280%;
    max-height: 280%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.slide{
    display: none;
}
.active{
    display: block;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #FAFAFA;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: #9b9b9b;
}
.advertisement{
    position: absolute;
    background-color: #f7f7f7;
    height: 100%;
    width: 35%;
    border-radius: 2rem;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0,0,0,.3);
}
.advertisement2{
    margin-left: 4rem;
}
.advertisement3{
    margin-left: 8rem;
}
.adTitle{
    font-size: 1.5rem;
    /* color:#FAFAFA; */
}
.ad2Title{
    font-size: 2rem;
    color:#FAFAFA;
}
.adEmphasize{
    font-size: 2.2rem;
}
.ad2Emphasize{
    font-size: 3.5rem;
    color: #FAFAFA;
}
.adButton{
    margin-top: 1rem;
    font-size: 1.5rem;
    cursor:pointer;
}
.adButton > a{
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #242323;
    color: white;
    text-decoration: none;
}

@media (min-width: 700px) {
    .advertisement{
        width: 35%;
    }
    .slideshow img{
        max-width: 150%;
        max-height: 150%;
    }
    .adTitle{
        font-size: 2rem;
    }
    .adEmphasize{
        font-size: 4rem;
    }
    .adButton{
        margin-top: 2rem;
        font-size: 3rem;
    }
    .adButton > a{
        padding: 2rem 4rem;
    }
}
@media (min-width: 1000px) {
    .advertisement{
        width: 25%;
    }
}
