.wholeContainer{
  text-align: center;
  min-width: 500px;
}

.innerContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.innerContainer ul{
    padding-left: 0;
}

.img{
  width: 40%;
  height: auto;
  margin-bottom: 0;
}

.Button{
    min-width: 30rem;
}

.Button a{
    text-decoration: none;
}

.Button span{
    padding: 2rem 4rem;
    border-radius: 1rem;
    background-color: #242323;
    color: white;
    font-size: 2rem;
}

.strike_price {
  text-decoration: line-through;
  font-weight: bold;
  color: #242323;
}

.final_price {
  font-weight: bold;
  color: #C7384E;
}

.msrp_price{
  font-weight: bold;
  color: #242323;
}

.imgTitle{
  text-align: center;
  font-size: 3.5rem;
  margin-top: 0;
  /* width: 15%; */
}

@media (min-width: 480px) {
  .info{
    text-align: left;
    font-size: 1.5rem;
  }

}

@media (min-width: 1024px) {
  .info{
    text-align: left;
    font-size: 2rem;
  }

  .Button{
      min-width: 30%;
  }

  .Button a{
      text-decoration: none;
  }
  .Button span{
      padding: 2rem 4rem;
      border-radius: 1rem;
      background-color: #242323;
      color: white;
      font-size: 2rem;
  }


}

.sorryMessage{
  font-size: 3rem;
}
