.categories{
    list-style: none;
    /*margin-left: 0;*/
    padding-left: 0;
}
.categories a{
    text-decoration: none;
    line-height: 4rem;
    color: #242323;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.categories li{
    /*margin-left: 0;*/
    padding-left: 1rem;
    padding-right: 1rem;
}
.categories li:hover{
    background-color: white;
    font-weight: bold;
}
